/*tên gọi css này là external style css*/
/* được gọi là selector  */
strong{
    color:red;
    text-decoration: underline;
}
em{
    color:blue;
}
h2{
    color:green;
}
/* Dau * la the mac dinh, toan bo cac the se bi ap dat thuoc tinh trong do, con duoc goi la universal selector *//* do manh dung 4 */
*{
    background-color:green;
}
/* element selector */   /* element selector manh hon universal selector *//* do manh dung 3 */
h3{
    color:red;
}
body{
    background-color:green;
}
/* id selector */ /* do manh dung 1 */
#xinchao{
    color: brown;
}
#def{
    color:aqua;
}
/* class selector *//* do manh dung 2 */
.mausac{
    color:blueviolet;
    background-color: blueviolet;
}
p.font{/* chi ap dung class font cho the p */
    font-family: 'Times New Roman', Times, serif;
    color:red;

}
